.character {
    position: absolute;
    border: 10px solid grey;
    pointer-events: "none";
}



.name {
    color: #fff;
    padding: 0.15rem 0.5rem;
    border-radius: 40%;
    border: 3px solid lightblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    height: 20px;
}